
/**
 * @file
 * Sample stylesheet for skinr integration.
 */

.red {
  color: red;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.violet {
  color: violet;
}
